<div class="row mb-3">
	<div class="col-6">
		<PlayerInput PlayerId="Player One" Player="PlayerOne" />
	</div>
	<div class="col-6">
		<PlayerInput PlayerId="Player Two" Player ="PlayerTwo" />
	</div>
</div>
<div class="row mb-3">
	<div class="col-2 offset-5">
		<button class="btn btn-primary" @onclick="PlayPoker">Play Poker!</button>
	</div>
</div>
<div class="row">
	<div class="col-2 offset-5">
		<h4>@GameOutcome</h4>
	</div>
</div>

@code {
	public PlayerForm PlayerOne { get; set; } = new();
	public PlayerForm PlayerTwo { get; set; } = new();
	public string GameOutcome { get; set; } = string.Empty;

	[Inject]
	public required PokerService.PlayPoker Play { get; set; }

	public async void PlayPoker()
	{
		GameOutcome = "Calculating Winner...";
		StateHasChanged();
		GameOutcome = await Play(PlayerOne, PlayerTwo);
		StateHasChanged();
	}
}
