@using PokerHandKata.Core.PlayingCards;

<div class="mb-3 col-5">
	<label class="form-label">@PlayerId Name:</label>
	<input class="form-control" type="text" @bind-value="Player.Name" />
</div>
<br />
<HandPicker Cards="Player.Cards" />

@code {
	[Parameter]
	public required string PlayerId { get; set; }
	[Parameter]
	public required PlayerForm Player { get; set; }
}
